// colors
$primary: #00bcd4;
$secondary: #FCFDFD;


// breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

// media queries
@mixin mobile() {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}


@mixin desktop() {
  @media (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}

