// colors
$dark: #232323;
$primary: #00bcd4;
$dark-primary: #0c8494;
$secondary: #e7eeee;
$white: #FFFFFF;
$danger: #f44336;
$dark-danger: #b71c1c;


// breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1440px;

// media queries
@mixin mobile() {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}


@mixin desktop() {
  @media (min-width: $desktop) {
    @content;
  }
}

